html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.input_wrapper{
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_wrapper *{
    width: 250px;
    margin: 5px;
    text-align: center;
}

.input_wrapper calc-btn {
    background: none;
    border: 2px solid #656464;
    transition: 0.3s;
    font-weight: 500;
}

.input_wrapper calc-btn:hover {
    border-color: #fcac45;
    color: #fcac45;
}

table {
    display: none;
    margin-top: 25px;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
}

table *{
    border: 2px solid #cccccc;
    padding: 2px 5px 2px 5px;
}

tfoot tr {
    border-top: 2px solid black;
}